// ============================================================================
// Simple Variables
// ----------------------------------------------------------------------------
// Define particular attributes, but not set to a "style"
//

// Colours
$off-white:          #eee;
$light-gray:         #ccc;
$med-gray:           #999;
$dark-gray:          #444;
$off-black:          #222;

$blue:               #268DDF;
$red:                #af2229;
$purple:             #af06be;

// ============================================================================
// Style Variables
// ----------------------------------------------------------------------------
// Sets particular style requirements
//

$primary-color:        $purple;
$primary-color-adjust: -7%;

$font-color:           $dark-gray;
