//
// Custom Colours

$off-white:  #eee;
$light-gray: #ccc;
$med-gray:   #999;
$dark-gray:  #444;
$off-black:  #222;

$red:        #af2229;
$blue:       #0065B5;
$gold:       #F2B205; // UW: #FBC205
$teal:       #02B6B3;
